
/*.container {
  padding: 10px 50px;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #4C6E53;
  font-size: 2.5vh;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}*/


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
}

.chart {
  position: relative;
  color: #4C6E53;
  font-size: 2.5vh;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
