
main{
	min-height: 100vh;
}

.lightbox {
	cursor: pointer;
}

.AI_lightbox_grid ul li {
	list-style: none;
	flex: 0 0 30%;
	margin: 0.5vw;
}

.AI_lightbox_grid ul li.imgMaquettesLFE{
	flex: 0 0 14%;
}

.AI_lightbox_grid img{
	width: 100%;
	height: auto;
}

#AI_lightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: #F9ECEB;
	z-index: 100;
	opacity: 0;
	display: none;
}
#AI_lightbox span {
	position: absolute;
	cursor: pointer;
	z-index: 110;
	text-align: center;
}
#AI_lightbox span i {
	font-size: 3em;
	color: #4C6E53;
	line-height: 100px;
	width: 100px;
}
#AI_lightbox .closeLB {
	top: 0px;
	right: 0px;
}
#AI_lightbox .next {
	top: 50%;
	right: 10px;
	transform: translate(0px,-50%);
}
#AI_lightbox .prev {
	top: 50%;
	left: 10px;
	transform: translate(0px,-50%);
}
#AI_lightbox img {
	max-width: 100vw;
	max-height: 100vh;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

section.AI_lightbox_grid {
	min-height: auto;
}



@media only screen and (max-width: 768px) {

	.AI_lightbox_grid ul li {
		list-style: none;
		flex: 0 0 100%;
	}



}
