


div.descriptionProjet{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh auto;
}

span.btnRetour{
    position: relative;
}

span.btnRetour a{
    position: absolute;
    top: 5vh;
    left: 5vw;
    text-decoration: none;
    color: #E0928E;
    transition: 0.3s ease-in-out;
}

a.lienP{
    font-family: 'Roboto', sans-serif;
    color: #E0928E;
    
}

h2.projetH2{
    font-size:2vw;
    margin: 0;
    margin-bottom: 1vh;
    color: #4C6E53;
}

 h3.projetH3{
    font-size:1.3vw;
    margin: 0;
    margin-bottom: 1vh;
	color: #E0928E;
}

span.btnRetour a:hover{
    color: #4C6E53;
}

.pageProjetTitre {
    margin-top: 15vh;
    font-size:3vw;
    color: #4C6E53;
    text-align: center;
}

.pageProjetPara{
    color: #888888;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 1.2vw;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

div.descriptionProjet li{
    color: #888888;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 1.2vw;
    text-align: justify;
}

@media only screen and (max-width: 767px) {
    #prototype{
        height: 200px;
    }

    span.btnRetour a{
        font-size: 3.5vw;
    }
    
    .pageProjetTitre {
        font-size:6vw;
    }

    h2.projetH2{
        font-size:5vw;
    }
    
     h3.projetH3{
        font-size:4vw;
    }

    div.descriptionProjet li{
        font-size: 3vw;
        line-height: 4vh;
    }

    h3.pageProjetDate, h3.pageProjetCours{
        font-size: 4vw;
    }

    .pageProjetPara{
        font-size: 3vw;
        line-height: 4vh;
    }


}


