* {
	font-family: 'Major Mono Display', monospace;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0928E; 
}

html{
	background-color: #F9ECEB;
	scroll-behavior: smooth;
}

.hidden{
	overflow-y: hidden;
}

section{
	min-height: 100vh;
	max-height: auto;
	width: 99vw;
}

/*-------------------------------ACCUEIL------------------------*/
section.accueil{
	margin: 0;
	height: 100vh;
	max-height: 100vh;
    width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

section.accueil div#accueil-flex{
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.accueil div#titre{
    position: relative;
	/*height: 30%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section.accueil h1{
	margin: 0;
	font-size:5vw;
	color: #4C6E53;

}

.typewrite{
	text-decoration: none;
	color: #E0928E;
	font-size: 1.8vw;
}

.boutonTop{
	text-align: center;
	text-decoration: none;
	margin-top: 2vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	width: 20vw;
	background: #E0928E;
	border: none;
	color: white;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.boutonTop:hover{
	background: #4C6E53;
}


/*---------------À propos-----------------------------------*/
.scroll{
		position: fixed;
		border: solid transparent;
		border-width: 20px 20px 0 0;
		padding: 1.3vw; /* Arrow Size */
		box-shadow: -1px 1px 0 0 #4C6E53 inset;
		-webkit-box-shadow: -1px 1px 0 0 #4C6E53 inset;
		-webkit-transform: rotate(-45deg);
		margin: auto;
		bottom: 5vh;
		z-index: 1;
}

#aPropos{
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
}

#aPropos-flex{
	margin-top: auto;
	margin-bottom: auto;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#aPropos p{
	margin-left: 2vw;
	line-height: 22px;
	margin-top: auto;
	margin-bottom: auto;
	color: #4C6E53;
	width: 35vw;
	text-align: justify;
}

#photoMoi{
    height: auto; 
    width: auto; 
    max-width: 415px; 
    max-height: 415px;
}

#aPropos-Gauche{
	position: relative;
    width: auto; 
    max-width: 415px; 
    max-height: 415px;
}

#aPropos-Droite{
	display: flex;
	justify-content: center;
	align-content: center;
    max-height: 415px;
}

section.aPropos h2{
	position: absolute;
	bottom: 0;
	left: 1.5vw;
	transform-origin: left;
	margin: 0;
	color: #F9ECEB;
	transform: rotate(-90deg);
	z-index: 1;
}


/*---------------compétences-----------------------------------*/

section.competences {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 

section.competences h2{
	color: #4C6E53;
	margin-left: 10vw;
	align-self: flex-start;
}

/*---------------Gallerie-----------------------------------*/

section.gallerie {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
} 

section.gallerie h2{
	position: absolute;
  	bottom: 0;
  	left: 0;
  	transform-origin: left;
	margin: 0;
	color: #4C6E53;
	transform: rotate(-90deg);
}

section.gallerie div#conteneurGallerie{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 85%;
}

section.gallerie div#conteneurGallerie div{
	background-color: white;
	width: 25vw;
	height: 30vh;
	margin: 1vw;
	flex-grow: 1;
}

section.gallerie div#conteneurGallerie div:first-child{
	position: relative;
	}


/*---------------Contacter-----------------------------------*/

section.contacter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section.contacter h2{
	color: #4C6E53;
	margin-right: 18vw;
	align-self: flex-end;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E0928E;
  opacity: 1; /* Firefox */
}

section.contacter form {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

div#formGauche{
	margin-right: 2vw;
	height: 24vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div#formGauche input{
	flex-grow: 1;
	border: none;
	padding: 1vw;
	margin: 1vh 0 1vh 0;
	height: auto;
	width: 100%;
	color: #E0928E;
}

div#formGauche input:first-child{
	margin-top: 0;
}

div#formGauche input:last-child{
	margin-bottom: 0;
}

div#formDroite {
		height: 24vh;
		width: 40vw;
		display: flex;
		justify-content: center;
}

div#formDroite textarea{
	flex-grow: 1;
	border: none;
	padding-left: 1vw;
	padding-top: 1vw;
	height: 100%;
	width: 100%;
	color: #E0928E;
	resize: none;
}

.bouton{
	margin-top: 12vh;
	height: 5vh;
	width: 20vw;
	background: #E0928E;
	border: none;
	color: white;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.bouton:hover{
	background: #4C6E53;
}


/*-------------------------------footer------------------------*/
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer p{
font-size: 2vh;
text-align: center;
color: #4C6E53;
}

/*-----------------------------Petits écrans----------------------*/
@media only screen and (max-width: 1010px) {

	section.gallerie div#conteneurGallerie div{
		width: 226px;
	}

	footer {
		margin-bottom: 0.5vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	footer p{
		font-size: 2vh;
		margin:0.5vh;
	}
}

@media only screen and (max-width: 768px) {

	.hidden{
		overflow-y: visible;
	}
	
	/*--------- Accueil ------------*/
    section.accueil{
        flex-direction: column;
        justify-content: flex-end;
    }
    
    section.accueil div#accueil-flex{
        position: relative;
        height: 45%;
        width: 100vw;
        left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.accueil h1{
        font-size: 10vw;
    }
    
    .typewrite{
        font-size: 4vw;
	}
	/*------------ à propos --------------*/

	.scroll{
		position: fixed;
		border: solid transparent;
		border-width: 20px 20px 0 0;
		padding: 3vw; /* Arrow Size */
		box-shadow: -1px 1px 0 0 #4C6E53 inset;
		-webkit-box-shadow: -1px 1px 0 0 #4C6E53 inset;
		-webkit-transform: rotate(-45deg);
		margin: auto;
		bottom: 5vh;
		z-index: 1;
}
	
	#aPropos-flex{
		flex-direction: column;
	}

	#aPropos p{
		margin-top: 2vh;
		width: 86vw;
	}	
	
	#aPropos-Droite{
		display: flex;
		justify-content: center;
		align-content: center;
	}

	#aPropos-Gauche{
		margin: auto;
	}

	
	#photoMoi{
		max-width: 330px; 
		max-height: 330px;
	}


	section.aPropos h2{
		left: 5vw;
	}

	/*----------- contacter -------------*/
	section.competences, section.gallerie{
		height: auto;
	}

	section.contacter form {
		width: 86vw;
		flex-direction: column;
	}

	div#formGauche{
		height: 25vh;
		width: 97%;
		margin-right: 0;
	}

	div#formGauche input{
		width: 100%;
	}

	div#formDroite{
		margin-top: 1vh;
		width: 100%;
	}

	.bouton{
		width: 40vw;
	}

	.boutonTop{
		width: 60vw;
	}

	/*----------- footer --------------*/

	footer {
		margin-bottom: 0.5vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	footer p{
		font-size: 1.5vh;
		margin:0.5vh;
	}
}